# Ignore generated PDFs to minimize noise when locally testing.

AC_prep/AC_Friedrich_Install.pdf
Cut_Lists/Back_Saw_Cut_List.pdf
Cut_Lists/Front_Saw_Cut_List.pdf
Cut_Lists/Installing_a_door.pdf
Cut_Lists/Insulation.pdf
Cut_Lists/Interior_Panels_Cut_List.pdf
Cut_Lists/Interior_Trim_Items.pdf
Cut_Lists/Structural_Triangle_Parts.pdf
Exterior_Trim/exterior_trim.pdf
Extract_Iron_Carts/Extract_instructions.pdf
Front_Wall/front_wall_ada.pdf
Half_Roof/half_roof.pdf
Interior_Panels/interior_panels.pdf
Interior_Trim/interior_trim.pdf
Interior_Trim/vent_cap_install.pdf
Panel_Cutting/Panel_Saw_Operation.pdf
Platform/Platform_sngl_side.pdf
Platform/archived/Platform_dbl_side.pdf
Rear_Wall/rear_wall.pdf
Roof/roof_manual.pdf
Side_Walls/sidewall_1.pdf
Side_Walls/sidewall_3.pdf
floor_door/ada_door_conversion.pdf
floor_door/door_install.pdf
floor_door/floor_install.pdf
post-tilt-up/post-tilt-up.pdf
post-tilt-up/roof-framing-cklist.pdf
render/example-custom-title-page.pdf
render/example-default-title-page.pdf
render/example-no-title-page.pdf
tilt-up/tilt-up.pdf
